
.linktree{
  width: 100%;
  height: 36em;
  text-align: center;
  margin: 10px;
  background: #170b516d;
}
.linktree h1{
  font-size: 24px;
  margin-bottom: 10px;
  color:aliceblue;
}
.linktree ul{
  list-style: none;
  padding: 0;
}
.linktree li{
  margin: 10px 0;
}
.linktree a{
  text-decoration: none;
  color: #333;
  font-size: 18px;
  color: aliceblue;
}
.linktree a:hover{
  color: #00ffe1;
}
.background{
  position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(image/f8f570fac8c9f08b21b1ae1d99b39825.jpg);
    background-size: cover;
    animation: moveBackground 20s linear infinite;
}
.sumir{
  display: none;
}